body {
    color: rgb(225 225 225);
    background: rgb(25 44 66);
    margin: 0px;
    font-family: "Caprasimo", serif;
}

header {
    border-bottom: solid 2px rgb(50, 50, 156);
    padding: 20px;
    font-size: 40px;
    color: rgb(50, 50, 156);
}
section{
    background: rgb(92, 197, 238);
    padding-bottom: 10px;
    padding-top: 30px;
    display: flex;
    justify-content: flex-start;

}
.chamada-texto{
    margin-right: 5%;
    font-size: 40px;
}
